.container-fluid{
    @media only screen and (max-width:970px) {
        justify-content: center !important;
    }
}
@media only screen and (max-width:970px) {
    .container-fluid{
        justify-content: center !important;
    }

    .logo{
        height: 70px !important;
        width: 30vw !important;
    }
    
}